---
---

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
$base-font-family: 'Montserrat', sans-serif;
$brand-color: purple;
$base-font-size: 20px;

@import "minima";

// .post-title {
//   font-size: 1rem;
//   font-weight: 700;
// }

// .site-title {
//   font-size: 1.2rem;
//   font-weight: 700;
// }
